.vidIntro{
    text-align: center; 
    width: none; 
  }
  
  .video{
    margin-top: 100px; 
  }
  
  .vidP{
    font-size: 30px; 
    padding-top: 30px; 

  
  }
  .vidDiv{
    margin: 0 10 px 2px 0;

  }
   